<IfModule mod_rewrite.c>
   RewriteEngine On
   # Force SSL
   RewriteCond %{HTTP_HOST} ^http://scheduling.treasury.gov.kh/ [NC]
   RewriteCond %{SERVER_PORT} 80
   RewriteRule ^(.*)$ https://http://scheduling.treasury.gov.kh//$1 [R,L]
   # Remove public folder form URL
   RewriteRule ^(.*)$ public/$1 [L]
</IfModule>