@import url(https://fonts.googleapis.com/css?family=Hanuman:400,700&subset=khmer);
@import url(https://fonts.googleapis.com/css?family=Moul);

@font-face {
    font-family: 'Kh Kangrey';
    src: url('../fonts/vendor/Kh-Kangrey.ttf');
}

body {
    font-family: 'Kh Kangrey', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kh Kangrey', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.card {
    /*height: 95.8 vh;*/
}

@-webkit-keyframes invalid {
    from {
        background-color: red;
    }
    to {
        background-color: inherit;
    }
}

@-moz-keyframes invalid {
    from {
        background-color: red;
    }
    to {
        background-color: inherit;
    }
}

@-o-keyframes invalid {
    from {
        background-color: red;
    }
    to {
        background-color: inherit;
    }
}

@keyframes invalid {
    from {
        background-color: red;
    }
    to {
        background-color: inherit;
    }
}

@-webkit-keyframes valid {
    from {
        background-color: #0BA957;
        color: #1f1f1f;
    }
    to {
        background-color: inherit;
    }
}

@-moz-keyframes valid {
    from {
        background-color: #0BA957;
        color: #1f1f1f;
    }
    to {
        background-color: inherit;
    }
}

@-o-keyframes valid {
    from {
        background-color: #0BA957;
        color: #1f1f1f;
    }
    to {
        background-color: inherit;
    }
}

@keyframes valid {
    from {
        background-color: #0BA957;
        color: #fff;
    }
    to {
        background-color: inherit;
        color: #000;
    }
}

@keyframes finished {
    from {
        background: #838383;
    }
    to {
        background: inherit;
    }
}

@-webkit-keyframes finished {
    from {
        background: #838383;
    }
    to {
        background: inherit;
    }
}

@-khtml-keyframes finished {
    from {
        background: #838383;
    }
    to {
        background: inherit;
    }
}

@-moz-keyframes finished {
    from {
        background: #838383;
    }
    to {
        background: inherit;
    }
}

@-o-keyframes finished {
    from {
        background: #838383;
    }
    to {
        background: inherit;
    }
}

.invalid {
    -webkit-animation: invalid 1s infinite; /* Safari 4+ */
    -moz-animation: invalid 1s infinite; /* Fx 5+ */
    -o-animation: invalid 1s infinite; /* Opera 12+ */
    animation: invalid 1s infinite; /* IE 10+ */
}

.valid {
    -webkit-animation: valid 2s infinite; /* Safari 4+ */
    -moz-animation: valid 2s infinite; /* Fx 5+ */
    -o-animation: valid 2s infinite; /* Opera 12+ */
    animation: valid 2s infinite; /* IE 10+ */
}

.finished {
    background: #d9d9d9;
    /*color: #ffffff;*/
}

td {
    padding: 0.6em;
    font-size: 25px;
}

.mn-content, body, html {
    font-size: 16px !important;
    height: 100%;
    width: 100%;
}

.header-topic {
    background: #3794f3;
    color: #fff;
}

.color-374CF3 {
    color: #374CF3;
}

.line-height-15 {
    line-height: 1.5;
}

.color-980000 {
    color: #fff;
    background: #980000;
}

.table-header {
    font-family: 'Kh Kangrey', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 25px !important;
    white-space: nowrap;
    border: 1px solid;
}

.width-13cm {
    width: 13cm;
}

.white-space {
    white-space: nowrap;
}

h5 {
    font-size: 2rem;
}